body {
  background-color: rgb(255, 255, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@font-face {
  font-family: subtitle180;
  src: url(Sail-Regular.ttf);
}

@font-face {
  font-family: title180;
  src: url(Notable-Regular.ttf);
}

h1 {
font-family: title180;
font-size: 40px;
color: #d46d01;
}

h2 {
  color: #014088d7;
  font-family: subtitle180;
  
}

p {
  font-size: 14px;
}

img {
  border: 1px solid black;
}

img {
  border: 1px solid black;
}

img:hover {
  border: 1px solid  rgb(248, 115, 6);
  width: 155px;
}

a {
  text-decoration: none;
  font-weight: 600;
}

/* unvisited link */
a:link {
  color: rgb(1, 0, 38);
}

/* visited link */
a:visited {
  color: rgb(248, 115, 6);
}

/* mouse over link */
a:hover {
  color: #014088d7;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: yellow;
}